{% extends 'layout.html.twig' %}






{% block body %}

    <div class="card border-0 mx-auto mt-5" >
        <div class="card-header bg-dark text-white ">
          <h2 class="text-uppercase">Commander vos billets</h2>
        </div>
        <div class="card-body">

            {{ form_start(form) }}

            {{ form_rest(form) }}


            <button type="submit" class="text-uppercase btn btn-dark float-right">Commander</button>
            {{ form_end(form) }}
        </div>

    </div>


{% endblock %}


