{% extends 'layout.html.twig' %}

{% block body %}
    Billet n° {{order.tickets|length + 1 }} / {{order.nbrTickets}}

    {{ form_start(form,{attr:{autocomplete:"off"}}) }}

        <button type="submit" class="btn btn-dark">Ajouter ce billet</button>



    {{ form_end(form) }}



{% endblock %}

