{% extends 'layout.html.twig' %}

{% block body %}
    {{ form_start(form,{attr:{autocomplete:"off"}}) }}


    <button type="submit" class="btn btn-dark">Valider</button>

    {{ form_end(form) }}

    {{app.session.get('order').tickets|length}}/
    {{app.session.get('order').nbrTickets}}

{% endblock %}

