body
{
    background-image: url("https://images.unsplash.com/photo-1499634231146-3393ed854a33?ixlib=rb-0.3.5&s=909618865d7bff4d2a0ca4e09ea4a768");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}
#overlay
{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #242424;
    opacity: 0.7;
}
img
{
    width: 100px;
}
header, main, footer
{
    position: relative;
}
#logo
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

}

.h2, h2 {

    font-size: 1rem;
}

a:hover, a:focus {

    text-decoration: none;
    color: #FFFFFF;

}
a{
    color: #969ea5;
}

.form-control:focus {

    color: #495057;
    background-color: #fff;
    border-color: #0006;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(189, 189, 189, 0.8);

}
#headerLink:hover, #headerLink:focus
{
    text-decoration: none;
    color: transparent;
}